
<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Pompeii in Pictures - PALP Prequel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.css">
    <script src="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.js"></script>
    <script src="{{ url_for('static', filename='js/store.everything.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.resizableColumns.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-table-master/src/extensions/resizable/bootstrap-table-resizable.js') }}"></script>
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <h1> PALP Prequel</h1>
            <form action="/search" method="POST">
                <label>Working on: </label>
                <label for="region"> Region </label>
                <input name="region" id="region" type="number" min=1 max=9 style="width:2.5em;" value= {{ region }} >
                <label for="insula">, Insula </label>
                <input name="insula" id="insula" style="width:2.5em;" value= {{ insula }}>
                <label for="property">, Property</label>
                <input name="property" id="property" style="width:2.5em;" value= {{ property }} >
                <label for="room">, Room</label>
                <input name="room" id="room" style="width:2.5em;" value= {{ room }} >
                <input type="submit" class="btn btn-outline-primary btn-sm" value="Search">
            </form>
            <nav>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="/PPM">PPM</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/PinP">Pompeii in Pictures</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/GIS">GIS Map</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/help">Help</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Change Location</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="row">
            <table class="table table-bordered" data-resizable="true" width="100%">
                <colgroup>
                    <col>
                    <col width="50%">
                    <col width="50%">
                    <col width="5%">
                    <col width="5%">
                    <col width="5%">
                    <col>
                    <col>
                </colgroup>
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Image</th>
                        <th scope="col">Description</th>
                        <th scope="col">Primary ARC</th>
                        <th scope="col">Additional ARC numbers</th>
                        <th scope="col">Is there art?</th>
                        <th scope="col">Is there plaster?</th>
                        <th scope="col">Notes</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in dbdata %}
                        <tr>
                            <td> {{row[0]}} </td>
                            <td> <a href="https://app.box.com/file/{{row[1]}}" target="_blank"><img class="img-fluid img-thumbnail" src="static/images/{{row[1]}}.jpg" alt=""></a> </td>
                            <td>{{row[2]}}</td>
                            <td>
                                <form>
                                    <input type="text" onchange="savedata()" size="10" id="{{row[1]}}-ARC" name="{{row[1]}}-ARC" value={{row[5]}}>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <textarea id="{{row[1]}}-others" onchange="savedata()" name="{{row[1]}}-others">{{row[6]}}</textarea>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <input type="radio" onclick="savedata()" id="no1{{row[1]}}" name="{{row[1]}}-art" value="no"
                                        {% if row[3] == "no" %} 
                                            checked="checked"
                                        {% endif %}
                                        >
                                    <label for="no1{{row[1]}}">No</label>
                                    <br/>
                                    <input type="radio" onclick="savedata()" id="yes1{{row[1]}}" name="{{row[1]}}-art" value="yes"
                                        {% if row[3] == "yes" %} 
                                            checked="checked"
                                        {% endif %}
                                        >
                                    <label for="yes1{{row[1]}}">Yes</label><br>
                                    <br/>
                                    <input type="radio" onclick="savedata()" id="maybe1{{row[1]}}" name="{{row[1]}}-art" value="maybe" 
                                        {% if row[3] == "maybe" %} 
                                            checked="checked"
                                        {% endif %}
                                        >
                                    <label for="maybe1{{row[1]}}">Maybe</label><br>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <input type="radio" onclick="savedata()" id="no{{row[1]}}" name="{{row[1]}}-plaster" value="no"
                                        {% if row[4] == "no" %} 
                                            checked="checked"
                                        {% endif %}
                                        >
                                    <label for="no{{row[1]}}">No</label>
                                    <br/>
                                    <input type="radio" onclick="savedata()" id="yes{{row[1]}}" name="{{row[1]}}-plaster" value="yes"
                                        {% if row[4] == "yes" %} 
                                            checked="checked"
                                        {% endif %}
                                        >
                                    <label for="yes{{row[1]}}">Yes</label><br>
                                    <br/>
                                    <input type="radio" onclick="savedata()" id="maybe{{row[1]}}" name="{{row[1]}}-plaster" value="maybe" 
                                        {% if row[4] == "maybe" %} 
                                            checked="checked"
                                        {% endif %}
                                        >
                                    <label for="maybe{{row[1]}}">Maybe</label><br>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <textarea id="{{row[1]}}-notes" onchange="savedata()" name="{{row[1]}}-notes">{{row[7]}}</textarea>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="fixed-top row justify-content-end" style="margin-right: 10%;">
            <button class="btn btn-success" style="margin-top: 1em; padding: 1.5rem 1.5rem;" id="Save">Save data</button>
        </div>
    </div>
    <script type="text/javascript">
        function savedata(){
            var xhttp = new XMLHttpRequest();
            xhttp.open("POST", "save-button", true);
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            var i = "";
            $('form').each(function () {
                i = i + "&" + $(this).serialize().toString();
            });
            xhttp.send("savepinp=1&" + i);
        }
        $("#Save").click(savedata);
    </script>
</body>
 
</html>