<!DOCTYPE html>
<html lang="en">
<head>
    <title>PPP - PALP Prequel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.css">
    <script src="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.js"></script>
    <script src="{{ url_for('static', filename='js/store.everything.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.resizableColumns.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-table-master/src/extensions/resizable/bootstrap-table-resizable.js') }}"></script>
</head>
<body>
	<div><button type="button" class="btn btn-secondary" id="button1">Open modal</button></div>
	<!--Relevant code-->
	<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="false">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editModal">r{{ region }}-i{{ insula }}-p{{ property }}-space-{{ room }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
			<form id="inputform">
				<table class="table">
					<tbody>
						<tr>
							<td><p>PPP ID</p></td>
							<td><input type="text" size="15" id="PPPID" name="PPPID" value="{{ID from db}}"></td>
						</tr>
						<tr>
							<td><p>Location</p></td>
							<td><input type="text" size="30" id="location" name="location" value="{{Location from db}}"></td>
						</tr>
						<tr>
							<td><p>Material</p></td>
							<td><input type="text" size="30" id="material" name="material" value="{{Material from db}}"></td>
						</tr>
						<tr>
							<td><p>Description (Italian)</p></td>
							<td><textarea id="description" name="description" cols="30">{{Description from db}}</textarea></td>
						</tr>
						<tr>
							<td><p>Condition</p></td>
							<td><input type="text" size="10" id="condition" name="condition" value="{{Condition from db}}"></td>
						</tr>
						<tr>
							<td><p>Style</p></td>
							<td><input type="text" size="10" id="style" name="style" value="{{Style from db}}"></td>
						</tr>
						<tr>
							<td><p>??</p></td>
							<td><textarea id="??" name="??" cols="30">{{?? from db}}</textarea></td>
						</tr>
						<tr>
							<td><p>Negative #</p></td>
							<td><input type="text" size="12" id="negative" name="negative" value="{{Negative from db}}"></td>
						</tr>
					</tbody>
				</table>
			</form>
		  </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" id="saveandnext">Save and next</button>
          </div>
        </div>
      </div>
    </div>
    <!--Relevant code-->
    <script type="text/javascript">
        $('#button1').on('click', function() {
            $('#editModal').modal("show");
        });
    </script>
</body>
</html>